# Build tools
build/
.gradle/
.settings/
.project
.classpath

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE settings (IntelliJ)
.idea/
*.iml
*.iws

# IDE settings (VS Code)
.vscode/

# OS files
.DS_Store
Thumbs.db

# Sensitive Info
application-local.yml
application-secret.yml
.env